<div class="menu">
    <button class="main-btns" onclick="homeUrl();">home</button>
    <button class="main-btns" onclick="addUrl();">add</button>
    <button class="main-btns" onclick="searchUrl();">search</button>
    <div class="clear"></div>
</div>