
form{
    display: none;
    padding: 0px 25px 0px 25px;
}

.input-text{
    margin: 0;
    padding-top: 7px;
}

input{
    display: block;
    margin: 0 auto;
    width: 85%;
    margin-top: 10px;
}

#add-btn{
    margin-top: 15px;
    height: 33px;
    border: 1px solid gray;
    background-color: #9aee4b;
    cursor: pointer;
    font-size: 20px;
    color: #905e00;
}

#add-btn:hover{
    background-color: #60ec69;
    color: #0103a3;
}